---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const metadatos = await getCollection("apps");

const nombresExperimentos = [
	"Material de Apoyo para Estudiar Inteligencia Artificial, Aprendizaje de Máquina y Aprendizaje Profundo",                  
	"Mathematics with SageMath",
	"Muon Decay Simulation",
]

const propuestas = [
	{
	  nombre:"1° Version (Aplicaciones con Scroll)",
	  descripcion: "En esta propuesta, las aplicaciones se integran completamente con la pagina, donde la navegacion sea de manera normal con scroll.",
	  complejidad:"Dado a que en esta version se deben transformar gran parte de los elementos a un formato diferente a HTML, puede ser un poco mas laborioso en terminos de implementacion.",
	  consideraciones:"Analizando las aplicaciones, se puede mencionar que hay casos los cuales debido a su complejidad, seria dificil pasarlos al 100% en este formato.",
	  experimentos: [
	    {
		 nombre:nombresExperimentos[0],
		 ruta:"/aplicaciones-web/aplicacion1-scroll",
		 descripcion: metadatos[1]["data"]["description"],
		 preview: "/app1.png"
		},
	    {
		 nombre:nombresExperimentos[1],
		 ruta:"/aplicaciones-web/aplicacion2-scroll",
		 descripcion: metadatos[0]["data"]["description"],
		 preview: "/app2Background.png"
		},
	    {
		 nombre:nombresExperimentos[2],
		 ruta:"/aplicaciones-web/aplicacion3-scroll",
		 descripcion: metadatos[2]["data"]["description"],
		 preview: "/app3Scroll.png"
		},
	  ]
	},
	{ 
	  nombre:"2° Version (Aplicaciones en un cuadro)",
	  descripcion: "En esta otra propuesta, las aplicaciones se envuelven en un cuadro dentro del cual el visitante debe hacer scroll para visualizar el contenido de la aplicacion, siendo el cuadro un iframe",
	  complejidad:"Entre todas las versiones, esta es la manera mas rapida y segura de migrar las apliciones existentes sin mayor complejidad, siendo lo mas tardado pasarlos al diseño actual.",
	  consideraciones: "",
	  experimentos: [
	    {
		 nombre:nombresExperimentos[0],
		 ruta:"/aplicaciones-web/aplicacion1-container",
		 descripcion: metadatos[1]["data"]["description"],
		 preview: "/app1Background.png"
		},
	    {
		 nombre:nombresExperimentos[1],
		 ruta:"/aplicaciones-web/aplicacion2-container",
		 descripcion: metadatos[0]["data"]["description"],
		 preview: "/app2Background.png"
		},
	    {
		 nombre:nombresExperimentos[2],
		 ruta:"/aplicaciones-web/aplicacion3-container",
		 descripcion: metadatos[2]["data"]["description"],
		 preview: "/app3Container.png"
		},
	  ]
	},
	{ 
	  nombre:"3° Version (Aplicaciones con fondo, orientado mas al diseño)",
	  descripcion:"Por ultimo, en esta alternativa se hace enfasis en el diseño que se le aplicara a las aplicaciones, colocandoles un degradado.",
	  complejidad:"",
	  consideraciones:"",
	  experimentos: [
	    {
		 nombre:nombresExperimentos[0],
		 ruta:"/aplicaciones-web/aplicacion1-background",
		 descripcion: metadatos[1]["data"]["description"],
		 preview: "/app1Background.png"
		},
	    {
		 nombre:nombresExperimentos[1],
		 ruta:"/aplicaciones-web/aplicacion2-background",
		 descripcion: metadatos[0]["data"]["description"],
		 preview: "/app2Background.png"
		},
	    {
		 nombre:nombresExperimentos[2],
		 ruta:"/aplicaciones-web/aplicacion3-background",
		 descripcion: metadatos[2]["data"]["description"],
		 preview: "/app3Scroll.png"
		},
	  ]
	}
]

const rutaActual = Astro.url.pathname;

const { title, tipo, indice, numeroExperimento } = Astro.props;
const nombreAplicacion = metadatos[numeroExperimento]["data"]["title"];
const autor = metadatos[numeroExperimento]["data"]["author"];
const fecha = metadatos[numeroExperimento]["data"]["date"]
const repositorio = metadatos[numeroExperimento]["data"]["source_code"];

const recomendados = propuestas[indice];
---

<Layout title={title}>

 <div class="w-full pointer-events-none fixed inset-0">
	<div class="absolute inset-0 bg-gradient-to-b from-background via-background/90 to-background" />
	<div class="absolute right-0 top-0 h-[500px] w-[500px] bg-blue-500/10 blur-[100px]" />
	<div class="absolute bottom-0 left-0 h-[500px] w-[500px] bg-purple-500/10 blur-[100px]" />
 </div>

 <section class="relative sm:px-12 xl:px-16 2xl:px-20 3xl:px-24 lg:py-36 3xl:py-44">
   <h1 class="font-bold sm:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl text-[#0C8CE9]"> {nombreAplicacion}</h1>
   
   <span class="flex items-center mt-5 3xl:mt-7 mb-3 3xl:mb-5">
     <span class="h-px flex-1 bg-white"></span>
   </span>

   <article class=`flex justify-between items-center ${indice == 1 ? "mb-0" :"mb-16 3xl:mb-24"}`>
     <p class="sm:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl ">
       {autor} {fecha}    
     </p>
     <article class="flex gap-4 items-center">
       <p class="font-bold sm:text-base xl:text-lg 2xl:text-lg 3xl:text-xl">
         CODIGO FUENTE :
       </p>
         <a href={repositorio}>
           <svg class="w-8" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.976 0A7.977 7.977 0 0 0 0 7.976c0 3.522 2.3 6.507 5.431 7.584.392.049.538-.196.538-.392v-1.37c-2.201.49-2.69-1.076-2.69-1.076-.343-.93-.881-1.175-.881-1.175-.734-.489.048-.489.048-.489.783.049 1.224.832 1.224.832.734 1.223 1.859.88 2.3.685.048-.538.293-.88.489-1.076-1.762-.196-3.621-.881-3.621-3.964 0-.88.293-1.566.832-2.153-.05-.147-.343-.978.098-2.055 0 0 .685-.196 2.201.832.636-.196 1.322-.245 2.007-.245s1.37.098 2.006.245c1.517-1.027 2.202-.832 2.202-.832.44 1.077.146 1.908.097 2.104a3.16 3.16 0 0 1 .832 2.153c0 3.083-1.86 3.719-3.62 3.915.293.244.538.733.538 1.467v2.202c0 .196.146.44.538.392A7.984 7.984 0 0 0 16 7.976C15.951 3.572 12.38 0 7.976 0z"></path></g></svg>
         </a>
     </article>
   </article>

   <slot/>

   <span class="flex items-center mt-12 3xl:mt-16 mb-9">
     <span class="h-px flex-1 bg-white"></span>
   </span>

   <footer class="flex flex-col">
     <div class="flex justify-between">
       <h2 class="sm:text-2xl 2xl:text-3xl text-[#0C8CE9] font-medium ">Recomendados por el CIIEC</h2>
       <a href="/aplicaciones-web" class="flex items-center font-bold sm:text-base 2xl:text-lg 3xl:text-xl hover:text-white/40 transition-all">
		 <p>
		   VER TODAS  LAS APLICACIONES 
		 </p>
         <svg class="w-7 lg:w-7 xl:w-8 3xl:w-10 translate-y-0 peer-hover:text-gray-500/75 transition-all duration-200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 7L15 12L10 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
	   </a>
     </div>

	 <section class="flex justify-between mt-16 3xl:mt-20 gap-24 3xl:gap-28" >
		
	   {
		
	     recomendados.experimentos.map((experimento, indice) => (
		   <a href={experimento.ruta} class="group flex flex-col px-6 3xl:px-9 py-7 3xl:py-10 border-2 border-[#0C8CE9] hover:shadow-lg hover:shadow-[#0C8CE9] rounded-2xl gap-5 3xl:gap-8 transition-all duration-500">
			 <img src={experimento.preview}/>
		     <h3 class="text-[#0C8CE9] group-hover:text-white/90 xl:text-lg 3xl:text-xl font-bold transition-all duration-700">{experimento.nombre}</h3>
			 <p class="sm:text-xs xl:text-base 3xl:text-lg text-white/85 group-hover:text-[#0C8CE9] transition-all duration-500">{experimento.descripcion}</p>

		   </a>
		 ))
	   }
	 </section>

	 

   </footer>
   
 </section>
</Layout>

